<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title || 'Ошибка'%></title>
    </head>
    <body>
        <h1>Ошибка!</h1>
        <p>Запрошенная страница не существует.</p>
    </body>
</html>